body {
    background: #333;
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
.site-nav {
    background: #fff;
    height: 60px;
    position: relative;
    .menu-toggle {
        padding: 1em;
        position: absolute;
        top: .8em;
        right: .8em;
        cursor: pointer;
        .hamburger,.hamburger::before,.hamburger::after {
            content: '';
            display: block;
            background: #000;
            height: 3px;
            width: 1.75em;
            border-radius: 2px;
            transition: all ease-in-out 300ms;
        }
        .hamburger::before {
            transform: translateY(-7px);
        }
        .hamburger::after {
            transform: translateY(4px);
        }

    }
    .site-nav-ul {
        list-style-type: none;
        background: #fff;
        width: 0;
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 500ms;
        li {
            text-align: left;
            text-transform: uppercase;
            font-weight: 500;
            padding: 10px 0 10px 30px;
            font-size: 18px;
            background: #fff;
            &:hover{
                filter: brightness(97%);
            }
            cursor: pointer;
            a {
                padding: 10px 20px;
            }

        }
    }
    .site-nav-ul-open{
        max-height: 600px;
        width: 100%;
        padding: 0 0 60px 0;
    }
    .open .hamburger {
        transform: rotate(45deg);
        &::before{
            opacity: 0;
        }
        &::after{
            transform: translateY(-3px) rotate(-90deg);
        }
    }
}
.red {
    background: red;
}